.check {
  display: flex;
  flex-direction: column;
  &__label {
    position: relative;
    padding-left: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    color: #fff;
    cursor: pointer;
    &:hover {
      & .check__input{
        &+span {
        border-color: #C283F3;
        transition: border-color .3s ease-in-out;
        }
      }
      
    }
  }
  &__input {
    position: absolute;
    opacity: 0;
    & + span {
      position: absolute;
      top: 10px;
      left: 0;
      width: 12px;
      height: 12px;
      border: 1px solid;
      border-color: #fff;
      &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 4px;
        height: 4px;
        opacity: 0;
        border-radius: 100%;
        background-color: #C283F3;
      }
    }
   
    &:checked {
      & + span {
        border-color: #C283F3;
        &::before {
          opacity: 1;
          
        }
      }
      
      
    }
  }
}
