.gallery {
  background-image: url("/src/img/gallery-bg-320.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__title {
    $fsz: calc((100vw - 320px) / ((768 - 320) / (48 - 28)) + 28px);
    margin-bottom: 13px;
    font-weight: 400;
    font-size: clamp(28px, $fsz, 48px);
    line-height: 1.3;
    color: #fff;
  }

  &__choices {
    margin-bottom: 30px; 
  }
  
  &__swiper {
    width: 100%;
    height: 367px;
    overflow: hidden;
    padding-bottom: 450px;
  }
  &__wrapper {
      width: 100%;
      height: 367px;
      display: flex;
      
  }
  &__slide{
      img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
  &__folder {
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__pagination {
    color: #fff;
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
    
  }

  &__prev,
  &__next {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #666;
  }


}

