.gallery-swiper {
    $h: calc(367px - (100vw - 320px) / ((768 - 320) / (367 - 330)));
    position: relative;
    width: 100%;
    height: clamp(330px, $h, 367px);
    margin-bottom: 20px;
    z-index: 1;


    &__wrapper {
        width: 100%;
    }
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
    margin-top: 0;
    position: static;
    border-radius: 50%;
    background-color: #666;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-pagination {
    position: static;
    width: auto;
    color: #fff;
}

.swiper-slide {
    picture {
        width: 100%;
        height: 100%;
    }
}

.gallery{
    &__img {
        display: block;
        width: 100%;
        height: 367px;
        object-fit: cover;

    }
}

.control-wrap {
    width: 130px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



