.body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    $w: calc((100vw - 320px) / ((768 - 320) / (698 - 320)) + 320px);
    width: clamp(320px, $w, 698px);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;

}