.header {
    background-color: #000;
    &__container {
        $p: calc((100vw - 320px) / ((768 - 320) / (30 - 12)) + 12px);
        position: relative;
        padding-top: clamp(12px, $p, 30px);
        padding-bottom: clamp(12px, $p, 30px);
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        

    }
    &__logo {
        $w: calc((100vw - 320px) / ((768 - 320) / (187 - 96)) + 96px);
        width: clamp(96px, $w, 187px);
        height: auto;
    }
    &__btn {
        color: #fff;
        z-index: 6;
        .opened {
            display: none;
        }
        &--active {
            .default {
                display: none;
            }
            .opened {
                display: block;
            }
        }
    }

    

    
}

