.hero {
  position: relative;
  &__container {
    $pt: calc((100vw - 320px) / ((768 - 320) / (105 - 30)) + 30px);
    $pb: calc((100vw - 320px) / ((768 - 320) / (114 - 45)) + 45px);
    display: flex;
    justify-content: center;
    padding-top: clamp(30px, $pt, 105px);
    padding-bottom: clamp(45px, $pb, 114px);
    color: #fff;
    z-index: 1;
  }
  
  &__inner {
    $w: calc((100vw - 320px) / ((768 - 320) / (661 - 258)) + 258px);
    width: clamp(258px, $w, 661px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    $fsz: calc((100vw - 320px) / ((768 - 320) / (72 - 32)) + 32px);
    margin-bottom: 16px;
    font-weight: 700;
    font-size: clamp(32px, $fsz, 72px);
    line-height: 1.3;
    text-align: center;
    color: inherit;
  }

  &__descr {
    $fsz: calc((100vw - 320px) / ((768 - 320) / (18 - 12)) + 12px);
    margin-bottom: 42px;
    font-weight: 400;
    font-size: clamp(12px, $fsz, 18px);
    line-height: 1.3;
    text-align: center;
    color: inherit;
  }

  &__link {
    $fsz: calc((100vw - 320px) / ((768 - 320) / (18 - 12)) + 12px);
    $pt: calc((100vw - 320px) / ((768 - 320) / (22 - 10)) + 10px);
    $ps: calc((100vw - 320px) / ((768 - 320) / (35 - 15)) + 15px);
    display: inline-block;
    padding: clamp(10px, $pt, 22px) clamp(15px, $ps, 35px);
    background-color: #9d5cd0;
    border: 3px solid transparent;
    border-radius: 100px;
    font-weight: 700;
    font-size: clamp(12px, $fsz, 18px);
    line-height: 1.3;
    transition: border .3s ease-in-out;
    
    &:hover {
      border: 3px solid #D1A9F0;
      transition: border .3s ease-in-out;
    }
    &:active {
      background-color: #7943A4;
      
    }
    &:focus:not(:active) {
      border-color: transparent;
      outline: 2px solid #C283F3;
      outline-offset: 3px;
    }
    &:focus-visible {
      border-color: transparent;
      outline: 2px solid #C283F3;
      outline-offset: 3px;
    }
  }
}
