.nav {
  $pt: calc((100vw - 320px) / ((768 - 320) / (100 - 46)) + 46px);
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding-top: clamp(46px, $pt, 100px);
  padding-bottom: 27px;
  padding-left: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  transform-origin: top left;
  transform: scale(0);
  transition: transform .6s ease-in-out;
  &--active {
    transform-origin: top left;
    transform: scale(1);
    transition: transform .6s ease-in-out;
    z-index: 5;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__item {
    transition: color .3s ease-in-out;
    &:hover {
      color: #C283F3;
      transition: color .3s ease-in-out;
    }
    &:active {
      color: #7943A4;
    }

    

  }
  &__link {
    $fsz: calc((100vw - 320px) / ((1024 - 320) / (24 - 16)) + 16px);
    font-weight: 600;
    font-size: clamp(16px, $fsz, 24px);
    line-height: 2;
  }
  &__btn {
    $fsz: calc((100vw - 320px) / ((1024 - 320) / (18 - 12)) + 12px);
    $pt: calc((100vw - 320px) / ((1024 - 320) / (22 - 10)) + 10px);
    $ps: calc((100vw - 320px) / ((1024 - 320) / (88 - 32)) + 32px);
    padding: clamp(10px, $pt, 22px) clamp(32px, $ps, 88px);
    font-weight: 600;
    font-size: clamp(12px, $fsz, 18px);
    line-height: 1.3;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
    text-align: center;
    color: #fff;
  }
  &__icon {
    $w: calc((100vw - 320px) / ((1024 - 320) / (13 - 9)) + 9px);
    display: inline-block;
    margin-right: 4px;
    width: clamp(9px, $w, 13px);
    height: clamp(9px, $w, 13px);
  }


}
