html {
    box-sizing: border-box;
}



*,
*::after,
*::before {
    box-sizing: inherit;
}




.link-reset {
    text-decoration: none;
    color: inherit;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title-reset {
    margin: 0;
    padding: 0;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}