.subheader {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 23px;
    
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 96px;
    z-index: 3;
  }
  &__item {
    position: relative;
  }
  &__text {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    transition: color .3s ease-in-out;
  }

  &__btn{
    position: relative;
    &:focus-visible{
      &::before{
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -6px;
        right: -20px;
        background-color: $active-color;
      }
    }
    &:hover {
      .subheader__text {
        color: $hover-color;
        transition: color .3s ease-in-out;
      }
      .subheader__text-icon {
        transition: stroke .3s ease-in-out;
        path{
          stroke: $hover-color;
          transition: stroke .3s ease-in-out;
        }
      }
    }
    &:active {
      .subheader__text {
        color: $active-color;
        transition: color .3s ease-in-out;
      }
      .subheader__text-icon {
        transition: stroke .3s ease-in-out;
        path{
          stroke: $active-color;
          transition: stroke .3s ease-in-out;
        }
      }
    }
    
  }

  &__btn--active {
    & .subheader__text {
      &-icon {
        transform: rotate(180deg);
      }
    }

  }

  &__content {
    display: none;
    position: absolute;
    top: 52px;
    width: 296px;
    height: 296px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    
    
    &--active {
      display: block;
      z-index: 3;
    }
  }

  &__inlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
  }

  &__initem {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 220px;
    height: 40px;
    &:hover{
      outline: 2px solid #9D5CD0;
    }
    &:active {
      outline: none;
      background-color: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    }
  }
  &__inlink {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: #fff;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.sub-search {
  &__area {
    position: relative;
    width: 218px;
    padding-bottom: 2px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    outline: none;
    z-index: 2;
    &:hover{
      border-color: $hover-color;
      transition: border-color .3s ease-in-out;
    }
    &::placeholder {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.3;
      color: #fff;
    }
  }
  &__btn{
    position: relative;
    &:focus-visible{
      &::before{
        content: '';
        position: absolute;
        top: -4px;
        bottom: -2px;
        left: -6px;
        right: -6px;
        background-color: $active-color;
      }
    }

  }
  &__icon{
    position: relative;
  }
}
